.postContainer{
    
   
    
    background-image: url('./images/backgroundImage.jpg');
   

}

.postContent{
    margin: 20px auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    justify-content: center;
}