.postCardContainer{
    height: 230px;
    width: 250px;
   
    margin-top: 30px;
    background-color: rgb(228, 221, 221);
    border-radius: 10px;
    box-shadow: 7px 7px 5px grey;
    cursor: pointer;
    padding: 5px 15px;
}
.postCardContainer:hover{
    transform: scale(1.06);
    transition-delay: .1s;
    
}
.postCardImage{
    margin: 1px auto 0 auto;
    height: 100px;
    width: 100px;
  
    border-radius: 50%;
}
.postCardImage img{
    height: 100%;
    width: 100%;
}
.button button{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    padding:1px 5px;
}