.postCardContainer{
    height: 230px;
    width: 250px;
   
    margin-top: 30px;
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
    box-shadow: 7px 7px 5px grey;
    cursor: pointer;
    padding: 5px 15px;

}
.postCardContainer:hover{
    transform: scale(1.01);
    transition-delay: .1s;
    
}
.postCardImage{
    margin: 1px auto 0 auto;
    height: 70px;
    width: 70px;
  
   
}
.postCardImage img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.button button{
    outline: none;
    border: none;
    background-color: rgb(2,2,53);
    color: rgb(182,180,180);
    border-radius: 6px;
    padding:3px 10px;
    font-size: 18px;
    font-weight: 500;

}

.button button:hover{
    background-color: white;
    color:rgb(2,2,53);
    font-weight: 700;
    border:1px solid rgb(2,2,53);
}
.messageText{
    color:rgb(2,2,53);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* text-shadow: 2px 2px rgb(235, 186, 186); */
    margin-top: 2px;
}